/* ------------------
        Fonts 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* -------------------------
common styles or utilities 
----------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* --------------------
  first section style
----------------------- */
header {
    background-color: #2D25A0;
}
header:hover{
    animation: example 2s ease-in-out infinite alternate;
}
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
.header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: hidden;
}
.header-detail{
    margin: 207px 102px 169px 156px;
}
.section-title{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.link-button {
    color: #FFFFFF;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    text-decoration: none;
    width: 168px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
}
.link-button i{
    margin-left: 10px;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
.banner-image{
    width: 556.01px;
    height: 438px;
    margin: 153px 142px 86px 0;
}
.header-img img:hover{
    animation: swing ease-in-out 1s infinite alternate;
}


/*--------------------------------------- 
players album and details style 
---------------------------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.container{
    background-color: #FFFFFF;
    width: 1050px;
    margin: 70px 210px 43px 180px;
    margin-bottom: 95px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
}
.player{
    margin-right: 30px;
    margin-bottom: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0 15px;
}
.player-name{
    margin: 16px 15px 0 15px;
}
.player-detail{
    margin: 10px 15px 33px 15px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #6C6C6C;
}

/* ----------------------
 champion section style
------------------------*/
.width-sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 158px;
    justify-content: space-evenly;
}
/*--------------------
    footer styles 
---------------------*/
.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 63px;
}
.footer-logo{
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}
.socio-links{
    margin-bottom: 20px;
}
.socio-bg{
    background-color: rgb(230, 230, 230);
    color: lightslategray;
    margin: 7px;
    padding: 2px 5px;
    border-radius: 50%;
}
.copyright{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
}

 /* Media queries */

 /* Mobile-devices */
 @media only screen and (max-width: 688px) {
    header{
        background-color: #2D25A0;
    }
    .header-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-detail{
        margin: 112px 0 0 16px;
    }
    .section-title{
        font-size: 36px;
        line-height: 50px;
    }
    .banner-image{
        width: 329px;
        height: 260px;
        margin: 153px 0 86px 0;
    }
    /* ---------------------
          main section  
    -----------------------*/
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container{
        width: 100%;
        padding: 0 0 0 30px;
        overflow-x: hidden;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }
    .player{
        margin: 0 15px 24px 15px;
    }
    .player img{
        width: 350px;
    }

    footer{
        overflow-x: hidden;
    }

    .footer-item{
        width: 100%;
        margin-top: 0;
    }
    .footer-logo{
        width: 150px;
        height: 63px;    
    }
    .copyright{
        font-size: 18px;
        line-height: 24px;
    }
    .width-sec{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 158px;
    }
}